<!DOCTYPE html>
<html>
<head>
  <title>Maps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB99lTnU6TkBbTE6d_a9FzaOmw3Fy2TfPw&sensor=true">
    </script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
